# Translation files are encoded differently per-language,
# see https://github.com/TheIndieStone/ProjectZomboidTranslations/issues/155
Contents/mods/TapedTvShows/media/lua/shared/Translate/EN/*.txt text working-tree-encoding=utf-8
Contents/mods/TapedTvShows/media/lua/shared/Translate/DE/*.txt text working-tree-encoding=cp1252
Contents/mods/TapedTvShows/media/lua/shared/Translate/RU/*.txt text working-tree-encoding=cp1251
Contents/mods/TapedTvShows/media/lua/shared/Translate/CN/*.txt text working-tree-encoding=utf-8
